* {
    margin: 0;
}



html {
    --sqrt2: 1.4142;
    --pattern-stop1: calc(var(--sqrt2) * 7px);
    --pattern-stop2: calc(var(--sqrt2) * 8px);

    --stripey-gradient: repeating-linear-gradient(135deg, transparent, 
        transparent var(--pattern-stop1), var(--main-color) var(--pattern-stop1), 
        var(--main-color) var(--pattern-stop2));
}

/* light mode */
body {
    --bg-color: #fdfdfd;
    --main-color: #111;
    --corner-image: url("/engineAssets/corners.png");
    
    --neutral-color: #888;
    --off-main-color: #333;
    --off-bg-color: #ccc;
}

/* dark mode */
body.dark {
    --bg-color: #222;
    --main-color: #ccc;
    --corner-image: url("/engineAssets/corners_inverted.png");
    
    --neutral-color: #555;
    --off-main-color: #aaa;
    --off-bg-color: #444;
} 

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-color);
    color: var(--main-color);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    /* width: 100vw; */
    /* height: 100vh; */
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}


textarea {
    background-color: var(--bg-color);
    color: var(--main-color);
}

button {
    background-color: var(--bg-color);
    color: var(--main-color);
    border-radius: 1px;
    border: 1px solid var(--main-color);
    box-shadow: 2px 2px var(--main-color);
}

html[data-dark="false"] *[data-background-tweak="light"] button {
    background-color: var(--off-bg-color);
}

html[data-dark="true"] *[data-background-tweak="dark"] button {
    background-color: var(--off-bg-color);
}

button:hover {
    /* background-color: red; */
    background-color: var(--neutral-color);
    /* color: var(--bg-color); */
}

button[data-selected="true"] {
    /* background-color: var(--neutral-color); */
    /* width: 1000px; */
    /* transform: scale(125%); */
    transform: translate(0, -3px);
    /* transform: scale(120%); */
    transition: transform .1s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* transition: transform .08s cubic-bezier(0.19, 1, 0.22, 1); */
    /* border-radius: 4px; */
    /* border-color: yellow; */
    /* box-shadow: -1px -1px var(--main-color); */
    /* transform: translate(2px, 2px); */
    /* transition: border-radius .5s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

button:active {
    transform: translate(1px, 1px);
    box-shadow: 1px 1px;
    color: var(--bg-color);
    background-color: var(--main-color);
}

em {
    font-weight: bold;
}

header div {
    display: flex;
    flex-direction: row;
    padding: 4px;
    /* vertical-align: middle; */
    font-family: sans-serif;
}

header img {
    margin-right: 8px;
}

ul.topbar {
    display: flex;
    flex-direction: row;

    border-bottom: 1px solid var(--main-color);
    background-color: var(--bg-color);
    /* padding: 8px; */

    margin-bottom: 4px;;
}

ul.topbar > li {
    /* border-right: 1px solid var(--main-color); */
    padding: 4px;

}
canvas {
    /* display: block; */
    /* image-rendering: crisp-edges; */
    image-rendering: pixelated;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.41);
    z-index: 10000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    width: fit-content;
    height: fit-content;
    padding: 8px;
    background-color: var(--bg-color);
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.horizontal {
    min-height: 0;
    flex: 1 1 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}

.card {
    position: absolute;
    user-select: none;

    resize: both;
    overflow: hidden;
    /* min-width: fit-content;
    min-height: fit-content; */
    /* padding: -8px; */
    /* border: 2px solid var(--main-color); */
    /* box-shadow: 2px 2px 8px -2px var(--main-color); */
    background-color: var(--bg-color);
    width: fit-content;
    height: fit-content;
    /* padding: 8px; */
}

.card img {
    pointer-events: none;
}

.card textarea {
    resize: none;
}

.card p {
    margin-bottom: 10px;
}

.card .inner-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 8px solid transparent;
    /* border-color: var(--main-color); */
    /* border-image: image(url("/engineAssets/corners.png"), var(--bg-color)) 8 8 repeat; */
    border-image: var(--corner-image) 8 8 repeat;
    padding: 0;
    margin: 0;
}

.inner-card>textarea {
    flex-grow: 1;
    white-space: pre;
    overflow-wrap: normal;
    overflow: scroll;
}


.flex-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


/* .flex-row>* {
    
} */

.card>* {
    margin-bottom: 5px;
    margin-top: 5px;

}

.card h3 {
    margin-top: 0px;
    margin-bottom: 10px;

    padding: 3px;

    display: flex; 
    flex-direction: row; 
    justify-content: space-between;

    background-color: var(--main-color);
    color: var(--bg-color);
}

.card h3 input {
    display: block;
    border: 1px solid var(--main-color);

    flex-grow: 1;
}

.card .closeWindow, .card .maxWindow {
    color: var(--main-color);
    border: none;
    background: none;
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;

    display: inline-block;
    vertical-align: top;
    margin-top: -5px;
    padding-left: 4px;
    /* padding-left: 8px; */
}

.card h4 {
    font-size: small;
    font-style: italic;
    margin-bottom: 10px;
}

.card li.selected {
    background-color: var(--main-color);
    color: var(--bg-color);
}

/* settings at top of card like width in sprite editor */
.card .card-settings>p {
    display: flex;
    align-items: center;
}
.card .card-settings>p>* {
    font-size: small;
    display: inline-block;
    flex-grow: 1;
}

.card.log {
    width: 200px;
    height: 200px;
}

p.log {
    width: 100%;
    height: calc(100% - 36px);
    font-family: monospace;
    border: 1px dashed var(--main-color);
    overflow-y: scroll;
    user-select: text;
}

.error-msg {
    border: 3px dashed var(--main-color);
    filter: none;
    font-family: monospace;
    padding: 5px;
    color: #f44;
}

img {
    image-rendering: pixelated;
}

.scroll-box {
    border: 1px dashed var(--main-color);
    overflow: scroll;
}

.card.resources {
    height: 400px;
    width: 220px;
}

.card.resources .scroll-box {
    box-sizing: border-box;
    /* loooool */
    flex-grow: 1;
}

ul.resources {
    margin-left: 10px;
}

ul.resources li {
    margin: 4px;
    margin-left: 10px;
    list-style-position: outside;
}

ul.resources .icon {
    width: 1em;
    display: inline-block;
    margin-right: 4px;
    padding: auto;
    text-align: end;
}

/* ul.resources .resource-link {
    vertical-align: middle;
} */

/* ul.resources .resource-link::before {
    content: "❔";
}

ul.resources .resource-sprite::before {
    list-style-image: url('/engineAssets/corners.png');
    content: "👺";
    content: "🎨";
}

ul.resources .resource-folder::before {
    content: "📁";
    list-style-image: url('/engineAssets/icon_folder.png');
}

ul.resources .resource-object::before {
    content: "🎱";
    list-style-image: url('/engineAssets/icon_folder.png');
} */

.grabbable {
    cursor: pointer;
    /* cursor: move; fallback if grab cursor is unsupported */
    /* cursor: grab; */
    /* cursor: -moz-grab; */
    /* cursor: -webkit-grab; */
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    background-color: var(--neutral-color);
}

.drag-hover {
    /* content: "_"; */
    background-color: var(--neutral-color);
}

.toolbar-container {
    display: flex;
    flex-direction: column; /* hack: changed in js */ 
    flex-wrap: wrap;
    column-gap: 16px;
    justify-content: center;
}

.toolbar {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 4px;
}

.toolbar>button {
    display: block;
    padding: 0;
}

.toolbar canvas{
    display: block;
}

ul.context-menu {
    position: absolute;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: fit-content;
    min-width: 10px;
    min-height: 10px;
}

ul.context-menu li {
    margin: 0;
}

ul.context-menu button {
    display: block;
    width: 100%;
    min-width: 100px;
}

/* --- components --- */

.card.settings {
    min-width: 200px;
}

.card.obj-editor .subsection {
    width: 128px;
    height: 256px;
    border: 1px dashed var(--main-color);
    padding: 5px;
}

.card.sprite-editor .toolbar {
    /* margin-top: 6px; */
    margin-bottom: 6px;
}

.card.sprite-editor .toolbar button {
    padding: 3px;
}
.card.sprite-editor .toolbar.colors button[data-eraser="true"] {
    background: var(--stripey-gradient);
}

.card.sprite-editor .canvas-container {
    /* border: 1px solid var(--main-color); */
    /* padding: 8px; */
    /* background: #f44; */
    /* height: initial; */
    flex: 1 1 content;
    overflow: hidden; /* scroll does not quite work */
    display: flex;
}

.card.sprite-editor .canvas-container canvas {
    display: block;
    margin: auto;
    border: 1px solid var(--main-color);
    background-color: var(--stripey-gradient);
    
    /* overflow: hidden; */
    /* flex-grow: 1; */
    /* object-fit:none ; */
    background: var(--stripey-gradient);
}

/* room editor */


.card.room-editor .left-rider {
    flex: 1 1 120px;
    max-width: 200px;
}

.card.room-editor .room-edit {
    flex: 1 1 120px;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 0;
}

.card.room-editor .room-top-bar {
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

.card.room-editor .canvas-container {
    overflow: scroll;
    flex-shrink: 1;
}

.card.room-editor .canvas-container canvas {
    /* display: block; */
    border: 1px dashed var(--main-color);
}

.card.room-editor .room-top-bar span.spacer {
    width: 8px;
}

.card.room-editor .room-top-bar input[type=number] {
    width: 3.5em;
}

.card.room-editor .sprite-select {
    padding: 4px;

    /* flex-grow: 0; */
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    max-height: 33vh;
}

.card.room-editor .sprite-select button {
    border: none;
    box-shadow: none;
}

.card.room-editor .scroll-box button[data-selected="true"] {
    background-color: var(--off-bg-color);
}