* {
    box-sizing: border-box;
}

body {
    --sqrt2: 1.4142;
    --pattern-stop1: calc(var(--sqrt2) * 7px);
    --pattern-stop2: calc(var(--sqrt2) * 8px);

    --stripey-gradient: repeating-linear-gradient(135deg, transparent, 
        transparent var(--pattern-stop1), var(--main-color) var(--pattern-stop1), 
        var(--main-color) var(--pattern-stop2));
}

/* light mode */
body {
    --bg-color: #fdfdfd;
    --main-color: #111;
    --corner-image: url("/engineAssets/corners.png");
    
    --neutral-color: #888;
    --off-main-color: #333;
    --off-bg-color: #ccc;
}

/* dark mode */
body.dark {
    --bg-color: #222;
    --main-color: #ccc;
    --corner-image: url("/engineAssets/corners_inverted.png");
    
    --neutral-color: #555;
    --off-main-color: #aaa;
    --off-bg-color: #444;
} 

body {
    height: 100%;
    overflow: hidden;
    background-color: var(--bg-color);
    color: var(--main-color);
    font-family: sans-serif;

    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 1.2rem;
}

textarea {
    background-color: var(--bg-color);
    color: var(--main-color);
    resize: none;
}

button {
    background-color: var(--bg-color);
    color: var(--main-color);
    border-radius: 1px;
    border: 1px solid var(--main-color);
    box-shadow: 2px 2px var(--main-color);
}


button.borderless {
    border: none;
    color: var(--main-color);
    background: none;
    padding: 0;
    padding-bottom: 2px;
    margin: 0;
    box-shadow: none;
}

button.borderless:hover {
    color: var(--main-color);
    background-color: var(--off-bg-color);
}

.dark *[data-background-tweak="light"] button {
    background-color: var(--off-bg-color);
}

.light *[data-background-tweak="dark"] button {
    background-color: var(--off-bg-color);
}


button:hover {
    background-color: var(--neutral-color);
}

button[data-selected="true"] {
    transform: translate(0, -3px);
    transition: transform .1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:active {
    transform: translate(1px, 1px);
    box-shadow: 1px 1px;
    color: var(--bg-color);
    background-color: var(--main-color);
}

button:disabled {
    color: var(--off-bg-color);
    border-color: var(--off-bg-color);
    box-shadow: 2px 2px var(--off-bg-color);
    background-color: var(--bg-color);
    transform: none;
}

button.plain {
    transform: none;
    box-shadow: none;
}

em {
    font-weight: bold;
}

span.spacer {
    width: 8px;
}

canvas {
    /* display: block; */
    /* image-rendering: crisp-edges; */
    image-rendering: pixelated;
}

img {
    image-rendering: pixelated;
    pointer-events: none;
}

select, input {
    color: var(--main-color);
    background-color: var(--bg-color);
    border: 1px solid var(--main-color);
}


.card p {
    margin-bottom: 10px;
}

h4 {
    font-size: small;
    font-style: italic;
    margin-bottom: 10px;
}

p.log {
    width: 100%;
    height: calc(100% - 36px);
    font-family: monospace;
    border: 1px dashed var(--main-color);
    overflow-y: scroll;
    user-select: text;
}

.scroll-box {
    border: 1px dashed var(--main-color);
    overflow: scroll;
}

.grabbable {
    cursor: pointer;
    /* cursor: move; fallback if grab cursor is unsupported */
    /* cursor: grab; */
    /* cursor: -moz-grab; */
    /* cursor: -webkit-grab; */
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    background-color: var(--neutral-color);
}

.drag-hover {
    /* content: "_"; */
    background-color: var(--neutral-color);
}


/* firefox scrollbars */

* {
    scrollbar-color: var(--off-bg-color) var(--bg-color);
}

/* chrome scrollbars lol */

::-webkit-scrollbar {
    /* display: none; */
    background-color: var(--bg-color);
    color: var(--main-color);
    width: 16px;
    height: 16px;

}

/* disable 'double buttons' */
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:horizontal:start:increment, 
::-webkit-scrollbar-button:horizontal:end:decrement {
    display: none;
}

::-webkit-scrollbar-button:hover, ::-webkit-scrollbar-thumb:hover {
    background-color: var(--off-bg-color);
}
::-webkit-scrollbar-button:active, ::-webkit-scrollbar-thumb:active {
    background-color: var(--neutral-color);
}
::-webkit-scrollbar-button:vertical:decrement { background-image: var(--svg-up-arrow) }
::-webkit-scrollbar-button:vertical:increment { background-image: var(--svg-down-arrow) }
::-webkit-scrollbar-button:horizontal:decrement { background-image: var(--svg-left-arrow) }
::-webkit-scrollbar-button:horizontal:increment { background-image: var(--svg-right-arrow) }

::-webkit-scrollbar-button {
    /* background-color: var(--off-bg-color); */
    color: var(--main-color);
    height: 1em;
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-track { /* Background */
    background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb { /* Foreground */
    background-color: var(--off-bg-color);
}

::-webkit-scrollbar-corner {
    background-color: var(--bg-color);
}


/* text-like environments */

.document {
    user-select: text;
}

.document h1 {
    font-size: larger;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 1em;
}

.document h2 {
    font-size: large;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 1em;
}

.document h3 {
    /* font-weight: bold; */
    text-decoration: underline;
    margin-top: .8em;
    margin-bottom: .5em;
}

.document p, .document ol, .document ul {
    margin-top: .5em;
    margin-bottom: 1em;

    font-size: 90%;
    line-height: 150%;
}

.document li>ol, .document li>ul {
    margin-top: .25em;
    margin-bottom: .25em;
}

.document ul {
    list-style: circle; 
}

.document ol {
    list-style: decimal;
}

.document li {
    margin-left: 1.5em;
    margin-top: .25em;
    margin-bottom: .25em;
}

.document table {
    border-collapse: collapse;
    /* empty-cells: hide; */
}

.document td, .document th {
    border: 1px solid var(--main-color);
    padding: .5em;
}

.document code {
    font-family: monospace;
    background-color: var(--off-bg-color);
}

.document pre {
    overflow-x: scroll;
}

.document pre code {
    background-color: var(--bg-color);
}

.document pre {
    border: 1px solid var(--main-color);
    padding: .6em .4em;
}